body {
 	background-color: #FFFFFF;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ace_editor_wrapper {
	height: 275px;
	position: relative;
	border: 1px solid #DDD;
	border-radius: 4px;
	border-bottom-right-radius: 0px;
	margin-top: 5px;
}

.editor { 
    position: absolute;
    overflow: hidden;
    left: 0px;
	top: 0px;
	bottom: 1px;
	right: 1px;
}