<div class="document-type hero-unit">
	<div class="btn-group" data-toggle="buttons-radio">
  		<button type="button" class="btn btn-primary" data-bind="click: setFormView">Form</button>
  		<button type="button" class="btn btn-primary" data-bind="click: setSourceView">Source</button>
  	</div>
	<div data-bind="template: {name: 'documentTypeForm', templateUrl: 'src/views', data: formModel}">
	</div>
	<div data-bind="template: {name: 'editor', templateUrl: 'src/views', data: editorModel}"></div>
​</div>