<div class="span3 stretch-vertical">
	<!-- ko with: navigator -->
	<div class="tabbable tabs-right stretch-vertical">
		<ul class="nav nav-tabs stretch-vertical">
			<!-- ko foreach: explorers -->
			<li data-bind="css: { 'active': $data.isSelected }">
				<a data-bind="attr: { href: $data.path, title: $data.name }, click: $parent.selectExplorer" data-toggle="tab" rel="tooltip">
					<img data-bind="attr: { src: $data.icon }"></img>
				</a>
			</li>
			<!-- /ko -->

			<!-- ko foreach: explorers --
			<div data-bind="template: { name: $data.menuName, templateUrl: $data.url, data: $data.model }, visible: $data.model.isActive"></div>
			<!-- /ko -->
		</ul>

		<div class="tab-content">
			<!-- ko foreach: explorers -->
			<div class="tab-pane" data-bind="attr: { 'id': $data.id }, css: { 'active': $data.isSelected }">
				<ul class="nav nav-list">
					<li class="nav-header" data-bind="text: name"></li>

					<!-- ko foreach: items -->
					<li>
						<a href="#" data-bind="text: name"></a>
					<li data-bind="css: { 'active': $parent.item().id() == $data.id() }">
					</li>
					<!-- /ko -->
				</ul>
			</div>
			<!-- /ko -->

			<!-- ko foreach: explorers --
			<div data-bind="attr: { 'id': $data.model.id }, css: { 'active': $data.model.active }" class="tab-pane">
				<div data-bind="template: { name: $data.name, templateUrl: $data.url, data: $data.model }"></div>
			</div>
			<!-- /ko -->
		</div>
	</div>
	<!-- /ko -->
</div>

<div class="span9 stretch-vertical">
	Inspector
</div>