<table class="span12 table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Required</th>
		</tr>
	</thead>
	<tbody>
		
		<!-- ko foreach: properties -->
		<tr>
			<td>
				<input type="text" data-bind="value: name, valueUpdate: 'afterkeydown'" placeholder="Enter a name..." />
			</td>
			<td>
				<select data-bind="options: $parent.types, value: type"></select>
			</td>
			<td>
				<div class="btn-group" data-toggle="buttons-radio">
				  <button type="button" class="btn" data-bind="click: $parent.toggleRequired, css: { active: required }">Yes</button>
				  <button type="button" class="btn" data-bind="click: $parent.toggleRequired, css: { active: !required() }">No</button>
				</div>
			</td>
		</tr>
		<!-- /ko -->

	</tbody>
</table>



<!--<ul class="property-list" data-bind="foreach: properties">
	<li>
		
		
		
		<div class="btn-group">
			<button type="button" class="btn btn-primary" data-bind="click: $parent.removeProperty">X</button>
		</div>
	</li>
</ul>-->