<!-- ko with: navigator -->
<div class="span3 stretch-vertical">
	<div class="tabbable tabs-right stretch-vertical">
		<ul class="nav nav-tabs stretch-vertical">
			<!-- ko foreach: explorers -->
			<li data-bind="css: { 'active': $index() === 0 }">
				<a data-bind="attr: { href: '#' + $data.anchor, title: $data.name }, click: $parent.selectExplorer" data-toggle="tab">
					<img data-bind="attr: { src: $data.icon }"></img>
				</a>
			</li>
			<!-- /ko -->

			<!-- ko with: contextMenu -->
			<div data-bind="template: { name: name, templateUrl: src, data: model }"></div>
			<!-- /ko -->
		</ul>

		<div class="tab-content">
			<!-- ko foreach: explorers -->
			<div class="tab-pane" data-bind="attr: { 'id': $data.anchor }, css: { 'active': $index() === 0, hasfocus: $data.isActive }">
				<!-- ko with: $data.model -->
				<ul class="nav nav-list">
					<li class="nav-header" data-bind="text: $parent.name"></li>

					<!-- ko foreach: items -->
					<li data-bind="css: { 'active': $parent.item().model().cid === $data.model().cid }">
						<a href="#" data-bind="click: $parent.selectItem, text: $data.name"></a>
					</li>
					<!-- /ko -->
				</ul>
				<!-- /ko -->
			</div>
			<!-- /ko -->
		</div>
	</div>
</div>
<!-- /ko -->

<!-- ko with: navigator.inspector -->
<div class="span9 stretch-vertical">
	<div class="tabbable tabs-right stretch-vertical">
		<ul class="nav nav-tabs stretch-vertical">
			<li class="active">
				<a href="#editor" title="Editor" data-toggle="tab">
					<img src="content/images/48/document.png"></img>
				</a>
			</li>
			<li>
				<a href="#metadata" title="Metadata" data-toggle="tab">
					<img src="content/images/48/gear.png"></img>
				</a>
			</li>
		</ul>

		<div class="tab-content">
			<div id="editor" class="tab-pane active">
				<div data-bind="template: { name: name, templateUrl: src, data: model }"></div>
			</div>

			<div id="metadata" class="tab-pane">
			</div>
		</div>
	</div>
</div>
<!-- /ko -->